$main-color:#0c679c;
$contact-color: #3423A6;
$black:#222;
$white:#fff;
$light-color:#666;
$light-bg:#eee;
$border:.1rem solid $contact-color;
$box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
$per1:100%;
$td: "text-decoration";
$contact-form:#F9F5EB;
$font-size:28px;
